<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title><%= items_uea[0]["subName"] %>-2015年&nbsp;|&nbsp;UrbanLabo</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/select_uea_nav.css">
        <link rel="stylesheet" href="/css/uea2015.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/js/leaflet/leaflet.css">
        <script type="text/javascript" src="/js/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery-3.6.0.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script type="text/javascript" src="/js/Chart.js-2.9.4/dist/Chart.bundle.js"></script>
    </head>
    <body>
        <!-- ヘッダの挿入 -->
        <%- include('header') %> 
        <main>
            <div class="main-content">
                <!-- <span class="year"></span> -->
                <h4 class="year-h3">平成27（2015）年</h4>
                <h2><ruby><%=items_uea[0]["subNameOmitted"]%><rt><%= items_uea[0]["hiraganaName"] %></rt></ruby>都市圏<% if (items_uea[0]["subName2"] != null && items_uea[0]["subName2"].length > 0) { %>
                    （<ruby><%= items_uea[0]["subName2Omitted"] %><rt><%= items_uea[0]["subNameKana"] %> </rt></ruby>都市圏 ）
                    <% } %>
                </h2>
                <div class="top-contents">
                    <!-- 都市圏内マップの表示 -->
                    <div class="map-in-uea　top-item" id="top-item">
                        <h3><%= items_uea[0]["subName"] %>の圏内マップ</h3>
                        <p>都市圏内市町村間通勤率の表示</p>
                        <div class="selector">
                          <form name="selectForm1">
                            通勤先市町村の選択&nbsp;<select id="selectCity">
                              <option value="noselected">未選択（中心郊外別塗分け図）</option>
                              <% items_city.forEach(item => { %>
                              <option value="<%= item.cityCode %>,<%= item.cityName %>,<%= item.ueaCode %>"><%= item.cityName %></option>  
                              <% }) %>
                            </select>
                          </form>
                        </div>
                        <div id="map"></div>
                    </div>
                    <!-- 都市圏基本情報の表示 -->
                    <div class="basic-information top-item" id="top-item">
                        <h3><%= items_uea[0]["subName"] %>の基本情報</h3>
                        <% if (items_uea[0]["description"] != null) { %>
                            <p class="basic-information-item description"><%= items_uea[0]["description"] %></p>
                        <% } %>
                        <ul class="basic-information-item basic-information-item-list">
                            <li>市町村数：<%= items_uea[0]["centerNums"] + items_uea[0]["suburbNums"] %><br>
                                （中心市町村：<%= items_uea[0]["centerNums"]%>、郊外市町村：<%= items_uea[0]["suburbNums"] %>）</li>
                            <li>人口：<%= items_uea[0]["pop2015"].toLocaleString() %>人&nbsp;<span class="rank rank-pop"><%= items_uea[0]["pop_RANK"] %>位/222都市圏</span><br>
                                （中心都市DID人口：<%= items_uea[0]["popDidC1"].toLocaleString() %>人&nbsp;<span class="rank rank-popDidC1"><%= items_uea[0]["popDidC1_RANK"] %>位/222都市圏</span>）  </li>
                            <li>面積：<%= items_uea[0]["area"].toLocaleString() %>㎢<br>
                                （可住地：<%= items_uea[0]["areaHabitable"].toLocaleString() %>㎢）</li>
                            <li>人口密度：<%= Math.floor(items_uea[0]["density"], 10).toLocaleString() %>人/㎢&nbsp;<span class="rank" id="rank-density"><%= items_uea[0]["density_RANK"] %>位/222都市圏</span> <br>
                                （可住地人口密度：<%= Math.floor(items_uea[0]["densityHabitable"]).toLocaleString() %>人/㎢&nbsp;<span class="rank rank-denstiyHabitable"><%= items_uea[0]["densityHabitable_RANK"] %>位/222都市圏</span>）</li>
                            <li>年齢中位数（年齢の中央値）：<%= items_uea[0]["ageMedian"].toFixed(2) %>歳&nbsp;<span class="rank rank-age"><%= items_uea[0]["ageMedian_RANK"] %>位/222都市圏</span> </li>
                            <li>域内生産額：<%= Math.floor(items_uea[0]["gup"]).toLocaleString() %>百万円&nbsp;<span class="rank rank-gup"><%= items_uea[0]["gup_RANK"] %>位/222都市圏</span> </li>
                        </ul>
                    </div>
                </div>

                <div class="top-contents2">
                    <div class="chart-graph top-contents2-item">
                        <div class="popratio-graph">
                            <canvas id="popratio"></canvas>
                        </div>
                        
                        <p>出典：総務省「国勢調査（平成27年）」より作成</p>
                    </div>
                    <div class="chart-graph top-contents2-item">
                        <div class="workerratio-graph">
                            <canvas id="workerratio"></canvas>
                        </div>
                        
                        <p>出典：経済産業省「経済センサス-基礎調査（平成26年）」</p>
                    </div>
                </div>

                <div class="chart-graph poptransition-graph">
                    <div class="chart-parent poptransition">
                        <canvas id="poptransition"></canvas>
                    </div>
                    <p>出典：総務省「国勢調査」、内閣府「市区町村別　人口・経済関係データ」、国立社会保障・人口問題研究所「日本の地域別将来推計人口（平成30（2018）年推計）」より作成<br>
                    福島県内の都市圏は市町村別の将来別人口推計が公表されていないためデータなし</p>
                </div>
                
                
                <div class="chart-graph poppyramid">
                    <h3>年齢別人口分布（人口ピラミッド）</h3>
                    <div id="poppyramid" class="chart-parent">
                        <div class="left">
                          <canvas id="men"></canvas>
                        </div>
                        <div class="right">
                          <canvas id="women"></canvas>
                        </div>
                    </div>
                    <p>出典：総務省「国勢調査（平成27年）」</p>
                </div>
                <div class="chart-graph">
                    <div class="chart-parent gupdoughnut">
                        <canvas id="gupdoughnut"></canvas>
                    </div>
                    <p>出典：内閣府「都道府県民経済計算（平成27年）」、経済産業省「経済センサス-基礎調査（平成26年）」、経済産業省「経済センサス-活動調査（平成28年）」、<br>農林水産省「市町村別農業産出額（推計）（平成27年）」、総務省「固定資産の価格等の概要調書（平成27年度）」より推計</p>
                </div>
            </div>
        </main> 
        <!-- 都市圏選択ナビメニューの挿入 -->
        <%- include('select_uea_nav') %> 
        <!-- フッタの挿入 -->
        <%- include('footer') %> 
    </body>
    <input type="hidden" name="a" id="ueaCode" value="<%= JSON.stringify(items_uea[0]["ueaCode"]) %>">
    <script type="text/javascript">
        var ueaCode = document.getElementById("ueaCode").value;
        console.log("ueaCode:" + ueaCode);
    </script>
    <script type="text/javascript" src="/geofile/city2015.js"></script>
    <script type="text/javascript" src="/js/citymapInUea2015default.js"></script>
    <script type="text/javascript" src="/js/citymapInUea2015.js"></script>
    <script type="text/javascript" src="/js/popratio2015.js"></script>
    <script type="text/javascript" src="/js/workerratio2015.js"></script>
    <script type="text/javascript" src="/js/poptransition.js"></script>
    <script type="text/javascript" src="/js/poppyramid.js"></script>
    <script type="text/javascript" src="/js/gupdoughnut2015.js"></script>
</html>